fastapi
uvicorn
python-dotenv
pydantic
youtube-transcript-api

langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-openai==0.3.27
langchain-huggingface==0.3.0

faiss-cpu

huggingface-hub
sentence-transformers
transformers

openai
